@font-face{
    font-family:'regular';
    src: url(../assets/fonts/regular.ttf);
}

@font-face{
    font-family:'bold';
    src: url(../assets/fonts/bold.ttf);
}

@font-face{
    font-family:'light';
    src: url(../assets/fonts/light.ttf);
}

@font-face{
    font-family:'semi';
    src: url(../assets/fonts/semi.ttf);
}


.head-logo {
	margin-left: 10%;
	margin-top: 3%;
}

.logo-txt {
	text-decoration: none;
	color: #22262A;
	font-size: 29px;
	font-family: 'Poppins', sans-serif;
	float: left;
	margin-right: 16%;
}

.nav-row {
	display: inline-block;
}

nav ul li .list-txt {
	text-decoration: none;
	list-style: none;
	float: left;
	margin-top: 0.6%;
	margin-left: 3%;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	color: #22262A;

}

.list-txt:hover {
	color: #625F5F;
	text-decoration: overline;
}

.logo-txt:hover {
	text-decoration: overline;
}

.navic {
	width: 1.5%;
	padding-left: 9%;
	margin-top: 9px;
	float: left;
	cursor: pointer;
}

.navic1 {
	margin-left: 3%;
	width: 1.5%;
	margin-top: 9px;
	float: left;
	cursor: pointer;
}


/*home content*/
/*.banner {
	margin-top:2%;
	width: 100%;
}*/

.main-banner {
	width: 100%;
    height: 700px;
    background: url(../assets/img/banner.png);
    background-size: cover;
}

.banner-text {
	float: right;
	margin-top: 23%;
	margin-right: 12%;
}

.fp {
	font-family: 'regular';
	font-size: 18px;
}

.sp {
	font-size: 80px;
	font-family: 'Poppins', sans-serif;
}

.tp {
	font-family: 'regular';
	font-size: 18px;
}

.fb {
	border: none;
	width: 132px;
	height: 41px;
	background-color: #22262A;
	color: white;
	cursor: pointer;
	margin-right: 17px;
	font-family: 'regular';
}

.sb {
	border: none;
	width: 132px;
	height: 41px;
	background-color: #22262A;
	color: white;
	cursor: pointer;
	font-family: 'regular';
}

.fb:hover {
	background-color: white;
	color: black;
}

.sb:hover {
	background-color: white;
	color: black;
}

/*four photo*/
.photo {
	max-width: 1440px;
}

.photo1 {
	background: url(../assets/img/1.png);
	width: 520px;
	height: 290px;
	margin-top: 50px;
	margin-left: 185px;
	position: absolute;
	display: flex;
}

.photo2 {
	background: url(../assets/img/2.png);
	width: 240px;
	height: 269px;
	margin-top: 350px;
	margin-left: 185px;
	display: inline-block;
	float: left;

}

.photo3 {
	background: url(../assets/img/3.png);
	width: 230px;
	height: 269px;
	margin-top: 350px;
	margin-left: 10px;
	display: inline-block;
}

.photo4 {
	background: url(../assets/img/4.png);
	width: 25%;
	height: 570px;
	margin-top: 50px;
	margin-right: 290px;
	float: right;
	display: inline-block;
	margin-left:30px;
}

.photo-btn {
	margin-top: 510px;
	margin-left: 16px;
	border: none;
	width: 197px;
	height: 44px;
	font-family: 'regular';
}

.photo-btn:hover {
	color: white;
	background-color: black;
}

.womensfashion {
	padding-top: 190px;
}

.mansfashion {
	margin-top: 210px;
}

.center {
	text-align: center;
}

.wf1 {
	font-family: 'bold';
	font-size: 20px;
}

.wf2 {
	font-family: 'light';
	font-size: 15px;
}

.phsize {
	margin-left: 10px;
}


.wf-photo1 {
	background: url(../assets/img/wf/1.png);
	width: 250px;
	height: 271px;
	margin-top: 40px;
	margin-left: 222px;
	display: inline-block;
}

.wf-photo2 {
	background: url(../assets/img/wf/2.png);
	width: 250px;
	height: 271px;
	margin-top: 40px;
	display: inline-block;

}

.wf-photo3 {
	background: url(../assets/img/wf/3.png);
	width: 250px;
	height: 271px;
	margin-top: 40px;
	display: inline-block;

}

.wf-photo4 {
	background: url(../assets/img/wf/4.png);
	width: 250px;
	height: 271px;
	margin-top: 40px;
	display: inline-block;

}

.photo-desc {
	margin-top: 290px;
}

.name {
	font-family: 'light';
}

.desc {
	font-family: 'semi';
}

.redprice {
	color: red;
	font-family: 'semi';
}

.price {

}


.mf-photo1 {
	background: url(../assets/img/wf/m1.png);
	width: 250px;
	height: 271px;
	margin-top: 40px;
	margin-left: 222px;
	display: inline-block;
}

.mf-photo2 {
	background: url(../assets/img/wf/m2.png);
	width: 250px;
	height: 271px;
	margin-top: 40px;
	display: inline-block;

}

.mf-photo3 {
	background: url(../assets/img/wf/m3.png);
	width: 250px;
	height: 271px;
	margin-top: 40px;
	display: inline-block;

}

.mf-photo4 {
	background: url(../assets/img/wf/m4.png);
	width: 250px;
	height: 271px;
	margin-top: 40px;
	display: inline-block;
}

/*hovers*/
.mf-photo1:hover {
	border: 3px solid black;
}

.mf-photo2:hover {
	border: 3px solid black;
}

.mf-photo3:hover {
	border: 3px solid black;
}

.mf-photo4:hover {
	border: 3px solid black;
}

.wf-photo1:hover {
	border: 3px solid black;
}

.wf-photo2:hover {
	border: 3px solid black;
}

.wf-photo3:hover {
	border: 3px solid black;
}

.wf-photo4:hover {
	border: 3px solid black;
}

.style-title {
	font-family: 'bold' ;
	text-align: center;
	font-size: 20px;
	margin-top: 140px;
}

.style-title1 {
	font-family: 'light';
	text-align: center;
	font-size: 15px;
}

.style-content {
	max-width: 1400px;
	margin-left: 7%;
}

.firstph {
	background: url(../assets/img/style/1.png);
	width: 500px;
	height: 560px;
	margin-top: 90px;
	margin-left: 5%;
	display: inline-block;
}

.firstph:hover {
	border: 1px solid #B1B1B1;

}

.secondph {
	background: url(../assets/img/style/2.png);
	width: 500px;
	height: 400px;
	float: right;
	margin-right: 17%;
	margin-top: 3%;
}

.thirdph {
	background: url(../assets/img/style/3.png);
	width: 220px;
	height: 260px;
	float: right;
	display: inline-block;
	position: absolute;
	margin-top: 21%;
	margin-left:26%;
	border: 15px solid white;
}

.firstph a {
	font-family: 'regular';
	margin-top: 440px;
	margin-left: 43%;
	position: absolute;
	text-decoration: none;
	color: #22262A;
}

.firstph a:hover {
	text-decoration: underline;
}

.secondph:hover {
	border: 1px solid #B1B1B1;
}

.thirdph:hover {
	border: 3px solid #B1B1B1;
}

/*nd banner*/
.ndbanner {
	background: url(../assets/img/ndbanner.png);
	width: 100%;
	height: 745px;
	margin-top: 50px;
}

.ndbanner p {
	margin-top:;
}

.footer {
	width: 100%;
}

.firstbox {
	width: 50%;
	height: 500px;
	display: inline-block;
	background-color: #F2F8FC;
}

.fbox {
	margin-top: 110px;
	margin-left: 14%;
}

.footertxt1 {
	font-family: 'bold';
	font-size: 22px;
}

.footertxt1:hover {
	text-decoration: overline;
}

.footertxt2 {
	font-family: 'regular';
	font-size: 15px;
	width: 390px;
}

.footertxt3 {
	font-family: 'regular';
	font-size: 15px;
}

.footertxt4 {
	font-family: 'regular';
}

.soc-icons {
	margin-left: 14%;
	margin-top: 20px;
}

.si {
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.secondbox {
	float: right;
	width: 50%;
	height: 500px;
}

.sb-txt1 {
	margin-top: 10%;
	font-family: bold;
	font-size: 22px;
}

.input {
	width: 80%;
}


.email {
	border: none;
	font-family: regular;
	width: 400px;
	height: 45px;
	margin-top: 24px;
	display: inline-block;
}

.btn {
	border: none;
	font-family: semi;
	background-color: white;
	height: 45px;
	width: 36px;
	display: inline-block;
	cursor: pointer;
}

.btn:hover {
	text-decoration: overline;
}

/*footer*/
.graph-m{
    display: inline-block;
    margin-top: 90px;
    margin-left: 15px;
    margin-right: 15px;
}

.box1{
    width: 75px;
    margin-right: 88px;
}

.box2{
    width: 175px;
}

.box3{    
    width: 110px;
}

.graph-m h2{
    font-family: 'semi';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 30px;
    color: #22262A;
}

.graph-m a{
    font-family: 'regular';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
    display: block;
    text-decoration: none;
}

.graph-m h2:hover {
	text-decoration: overline;
} 

.copy {
	font-size: 20px;
	color: black;
	font-family: 'regular';
	text-align: center;
}
